lenguajemarcas/personas_atrib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="personas">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="persona" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attributeGroup ref="datos" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:attributeGroup name="datos">
    <xs:attribute name="nombre" />
    <xs:attribute name="edad" />
    <xs:attribute name="pais" />
</xs:attributeGroup>

</xs:schema>