lenguajemarcas/validacion_canciones.dtd

<!ELEMENT discoteca (album+)>
<!ELEMENT album ((artista|artistas), genero, canciones)>
<!ELEMENT genero ANY>
<!ELEMENT artista (#PCDATA)>
<!ELEMENT subgenero (#PCDATA)>
<!ELEMENT canciones (cancion+)>
<!ELEMENT cancion (#PCDATA)>
<!ELEMENT artistas (artista+)>
<!ATTLIST cancion numero CDATA #REQUIRED>